//- layout.jade
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://bootswatch.com/sandstone/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/swampwars.css', rel='stylesheet')
    block title
      title Call of Doogly
  body
    .container
      .row
        h1 Call of Doogly
      .row#controls
        block controls
      br
      .row
        .col-md-12#content
          block content
      br
      .row
        .col-md-12#gamelog
          block log

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/swampwars.js')