//- swamp.jade
extends ./layout.jade

block title
  title Call of Doogly

block controls
  unless started
    .col-md-6
      form.form-inline(action='/game/start', method='POST')
        p.form-group
          input.form-control(placeholder='Rows', name='rows')
        p.form-group
          input.form-control(placeholder='Cols', name='cols')
        p.form-group
          button.btn.btn-primary(type='submit') Start Game
  else
    .col-md-12.btn-toolbar
      a.btn.btn-primary(href='/move') Move
      a.btn.btn-primary#changeDiet Change Diet
      span.btn-group#currentDiet
        code Diet: #{diet}

block content
  if started
    .panel.panel-default
      table.table.table-bordered#swamp
        each row in rows
          tr
            each cell in row
              td
                p!= cell
  else
    h3 You have not started a game yet!

block log
  h3 Event Log &nbsp;
    small Newest First
  each message in log
    p.text-primary #{message}